body{ font-size:9pt;font-family:"굴림" }
.total_frame { width: 1040px; margin:auto; }
.column { width: 170px; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; padding: 0.2em; }
.portlet-header { padding: 0.2em 0.3em; margin-bottom: 0.1em; position: relative; font-weight: bold; color:white;}
.portlet-toggle { position: absolute; top: 50%; right: 0; margin-top: -8px; }
.portlet-content { padding: 0.0em; }
.portlet-placeholder { border: 1px dotted black; margin: 0 1em 1em 0; height: 30px; }
a { text-decoration:none !important }
ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 0px; min-height: 10px;}
li { margin: 0px; padding: 2px; width: 130px; background-color:white;}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }